<!DOCTYPE html>
<html lang="en" ng-app="ourHydro">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Hydro One, Not for sale Hydro One, Ontario Hydro, Privatization Hydro">
    <meta name="Jigdel" content="">

    <title>Our Hydro - Not for Sale!</title>

    <!-- Bootstrap Core CSS -->
    <link href="client/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- 
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    -->
    <!-- Custom CSS -->
    <link href="client/lib/css/custom.css" rel="stylesheet">

 	<!-- AngularJS core
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
     -->
    <script src = "client/lib/js/angular1.3.13.min.js"> </script>
	
	<!-- AngularJS controllers -->
	<script src = "client/lib/js/app3.2.js"> </script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Our Hydro</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container" ng-controller="chartsCtrl">

        <!-- Menu Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Ontarians
                    <small> - Why Hydro One should not be sold</small>
                </h1>
            </div>
        </div>
        <div class="row">
			<div class="col-md-8">
            <!-- <input ng-model="highchartsNG.title.text">
                <button ng-click="hydroInfo()"
                        class="btn btn-danger">Infograph</button>
                        -->
                
				<button ng-click="hydroRevenue()"
                        class="btn btn-warning">Revenue</button>
				<button ng-click="hydroIncome()"
                        class="btn btn-info"> Income & dividends </button>
                <button ng-click="hydroDistCust()"
                        class="btn btn-success">Customers</button>
                <button ng-click="hydroAssets()"
                        class="btn btn-danger">Assets</button>
                <button ng-click="swapChartType()"
                        class="btn btn-success"> Swap Chart - Line/bar</button>
			</div>
	</div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">
            <div class="col-md-8">
            <highchart id="chart1" config="highchartsNG"></highchart>
                <!-- 
                <img class="img-responsive" src="http://placehold.it/750x500" alt="">
                <input ng-model="highchartsNG.title.text">
                <button ng-click="addSeries()">Add Series</button>
                <button ng-click="hydroInfo()">Infographic</button>
                <button ng-click="hydroCust">Distribution Customers</button>
                    <button ng-click="hydroAssets()">Assets</button>
                -->
                
           </div>

            <div class="col-md-4" ng-controller="MppCtrl">
            <h4> Search your MPP <br />by your postal code: </h4>
                <form name="myForm"> <!--  ng-submit="MppCtrl.submit(postalcode)" -->
					<input type="text"
							placeholder="Uppercase: 'L4N5C7'"
							class="form_pc"
							ng-model="postalCode"
							required
							ng-minlength="6"
							ng-maxlength="6">
					
					<input type="submit"
							value="Find"
							ng-disabled="myForm.$invalid"
							button class="btn btn-success"
                            ng-click="submit(postalCode)" />
				</form>
				*Using OpenNorth API
                <h3>Your MPP Details</h3>
                <ul>
                <!-- define mpp_image to be centered -->
                    <img ng-src="{{mpp.representatives_concordance[0].photo_url}}">
                    <br/>
                    Your electoral district is {{mpp.representatives_concordance[0].district_name}} and your current MPP is {{mpp.representatives_concordance[0].name}}. Please contact MPP {{mpp.representatives_concordance[0].last_name}} from {{mpp.representatives_concordance[0].party_name}} with the information below:
                        <li>Email : {{mpp.representatives_concordance[0].email}} </li>
                        <li>Phone : {{mpp.representatives_concordance[0].offices[0].tel}}</li>
                        <li>Twitter : {{mppSocialAccount[0]}} </li>
                        <li>Facebook : {{mppSocialAccount[1]}} </li>
                </ul>
                </div>
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row 
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Related Projects</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Our Hydro 2015</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->

    <script src="client/lib/bootstrap/js/jquery.1.9.1.min.js"></script> 

    <!-- Bootstrap Core JavaScript -->
    <script src="client/lib/bootstrap/js/bootstrap.min.js"></script>

    <!-- High Charts -->
    <script src = "client/lib/js/highcharts-ng.js"> </script>
    <script src="client/lib/highcharts/highcharts.js"></script>

    <!-- <script src="../src/highcharts-ng.js"></script> -->
   

</body>

</html>

